@font-face{
  font-family: AmazonEmber;
  src: url("./fonts/Ember/AmazonEmber_Rg.ttf");
}

@font-face{
  font-family: AmazonEmberBold;
  src: url("./fonts/Ember/AmazonEmber_Bd.ttf")
}

body {
  outline: 1px solid black;
  margin: auto;
  font-family: AmazonEmber;
}

img{
}

.navbarSubCategories,
.navbarCategories,
.navbarSearch{
  outline: 1px solid black;
  display: flex;
  width: 100%;
  color: white;
}

.navbarSearch{
  height: 60px;
  background-color: #131921;
}

.navbarSearchBar{
  height: 38px;
  width: 100%;
  border-radius: 10px;
}
.chooseDepartment{
  margin-right: -121px;
  z-index:1;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  border: none;
  border-top-right-radius:0;
  border-bottom-right-radius: 0;
  font-size: 12px;
  font-family: AmazonEmber;

}

input.navbarSearchBar:focus{
  border:3px solid darkorange;
  outline: none;
}

.searchBarContents{
  width:10%;
  text-align:center;
  margin: auto;
  font-size: 14px;
}

.deliverTo{
  font-size: 12px;
  color: rgb(195, 194, 194);
}
.fakeCity{
  font-family: AmazonEmberBold;
}
.navbarSearchBarDiv{
  width: 60%;
  display: flex;
  align-items:center;
}


.logo{
  height: 28px;
  width: 120px;
}
.navbarCategories{
  height: 39px;
  background-color: #232f3e
}

.navbarSubCategories{
  height: 33px;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,.1);
  color: black;
}
.navbarCategoryItem,
.navbarSubCategoryItem{
  outline: 1px solid black;
  text-align:center;
  margin: auto;
  font-size: 14px;

}


.navbarSubCategoryItem{
  font-size: 12px;
}

.mainItemDiv{
  display:flex;
  width: 100%;
  justify-content: center;
  outline: 1px solid black;

}

.addToCart,
.itemInfo,
.photoGallery{
  outline: 1px solid black;
}

.photoGallery{
  width: 40%;
  display:flex;
}

.galleryThumbnailContainer{
  width:15%;
  height: 100%;
}

.galleryThumbnail{
  width: 4vw;
  height: 4vw;
  outline: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.thumbnailImage{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.mainPhotoContainer{
  width: 440px;
  outline: solid 1px black;
}

.mainPhoto{
  width: 440px;
  height: 100%;
  object-fit: contain;
  outline: solid 2px red;
}

.zoomedContainer{
  max-height: 55vh;
  overflow: hidden;
}
.zoomedPhoto{
  position: relative;
}

.itemInfo{
  width: 35%;
  overflow: hidden;
}

.addToCart{
  width: 10%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #c4c3c3;
}
