@font-face {
  font-family: AmazonEmber;
  src: url("./fonts/Ember/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: AmazonEmberBold;
  src: url("./fonts/Ember/AmazonEmber_Bd.ttf");
}

* {
  font-family: AmazonEmber;
}

.underHeader {
  margin: auto;
  width: 80%;
}

a {
  color: #007185;
  cursor: pointer;
}

a:hover {
  color: #c7511f;
  text-decoration: underline;
}

html {
  overflow-x: hidden;
}

body {
  outline: 1px solid black;
  margin: auto;
}

.navbarSubCategories,
.navbarCategories,
.navbarSearch {
  display: flex;
  color: white;
}

.navbarSearch {
  height: 60px;
  background-color: #131921;
}

.navbarSearchBar {
  position: relative;
  height: 38px;
  width: 100%;
  min-width: 200px;
  border-radius: 8px;
  padding-left: 125px;
}

.chooseDepartment {
  position: absolute;
  margin-left: 2px;
  left: 0;
  z-index: 1;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
  border-right: 1px solid lightgray;
  color: rgb(72, 72, 72);
}

.submitSearch {
  position: absolute;
  cursor: pointer;
  right: 0;
  margin-right: 2px;
  width: 45px;
  height: 40px;
  background-color: rgba(240, 185, 76, 1);
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.submitSearch:hover {
  background-color: rgba(252, 169, 2, 1);
}

input.navbarSearchBar:focus {
  border: 3px solid darkorange;
  outline: none;
}

.viewCartDiv,
.deliverToDiv,
.userOptionsDiv,
.returnsOrdersDiv,
.searchBarContents {
  width: 10%;
  min-width: 70px;
  text-align: center;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
  line-height: 50px;
  border-radius: 1px;
  position: relative;
}

.viewCartDiv {
  min-width: 90px;
  width: 90px;
}


.viewCartDiv:hover,
.deliverToDiv:hover,
.userOptionsDiv:hover,
.returnsOrdersDiv:hover,
.searchBarContents:hover {
  outline: solid white 1px;
}

.viewCartDiv {
  text-align: baseline;
  line-height: 65px;
}

.chooseDepartment {
  cursor: pointer;
}

.chooseDepartment:hover {
  background-color: rgb(206, 202, 202);
  color: black;
}

.deliverToDiv,
.userOptionsDiv,
.returnsOrdersDiv,
.logoDiv {
  min-width: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.returnsOrdersDiv {
  width: auto;
  min-width: 70px;
}

.deliverToDiv,
.userOptionsDiv,
.returnsOrdersDiv {
  line-height: 1.2;
}

.deliverTo {
  font-size: 12px;
  color: rgb(195, 194, 194);
}

.firstLineDiv {
  font-size: 12px;
}

.secondLineDiv {
  font-family: AmazonEmberBold;
  font-size: 14px;
}

.navbarSearchBarDiv {
  width: 100%;
  min-width: 331px;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  height: 28px;
  width: 120px;
}

.navbarCategories {
  height: 39px;
  background-color: #232f3e;
}

.AmazonChoiceTriangle {
  width: 0;
  height: 0;
  border-top: 23px solid;
  border-right: 11px solid transparent;
  color: #232f3e;
  float: left !important;
}

.navbarSubCategories {
  justify-content: start;
  height: 33px;
  background-color: #fafafa;
  color: rgb(31, 31, 31);
  border-bottom: 1px solid rgb(216, 215, 215);
  left: 0;

}

.navbarCategoryItem,
.navbarSubCategoryItem {
  text-align: baseline;
  padding: 8px;
  font-size: 14px;
  border-radius: 1px;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 2px;
  min-width: auto;
}

.navbarCategoryItem {
  margin: auto;
}

.navbarSubCategoryItem {
  margin-left: 15px;
}

.allItemCategory {
  font-family: AmazonEmberBold;
}

.navbarCategoryItem:hover {
  outline: 1px solid white;
}

.navbarSubCategoryItem {
  font-size: 12px;
}

.navbarSubCategoryItem:hover {
  color: rgba(255, 157, 0, 1);
  border-bottom: 3px solid rgba(255, 157, 0, 1);
}

.mainItemDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

.MainInfoPrice,
.MainInfoProductName {
  margin: 0;
  font-weight: 100;
}

.MainInfoProductName {
  font-size: 24px;
}

.MainInfoProductNameDiv {
  font-size: 12px;
}

.MainInfoProductNameDiv,
.MainInfoDetails {
  font-size: 14px;
}

.MainInfoAboutThisItem {
  font-size: 16px;
}

.photoGallery {
  width: 37%;
  margin-right: 5px;
}

.lazySpacer {
  height: 35px;
}

.shareButton {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: #f6f4f4;
  margin-left: -10px;
}

.thumbnailAndMainPhoto {
  display: flex;
}

.galleryThumbnailContainer {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evenMoreCategories {
  display: flex;
  color: rgb(91, 91, 91);
  font-size: 12px;
  margin: 10px 10px 10px 0px;
}

.evenMoreItems {
  margin-left: 5px;
  white-space: nowrap;

}

.galleryThumbnail {
  width: 2vw;
  height: 2vw;
  outline: 1px solid rgb(147, 146, 146);
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.galleryThumbnail:hover {
  box-shadow: 0px 0px 6px rgb(0, 179, 255);
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.mainPhotoContainer {
  width: 440px;
}

.mainPhoto {
  width: 100%;
}

.zoomedContainer {
  width: 36%;
  position: absolute;
  height: 720px;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgb(105, 104, 104);
  background-color: white;
}

.zoomedPhoto {
  position: relative;
  z-index: 5;
}

.itemInfo {
  width: 43%;
}

.addToCart {
  width: 17%;
  min-width: 200px;
  margin-left: 30px;
}

.addToCartContainer {
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 15px;
  font-size: 14px;
}

.buyNowButton,
.addToCartButton {
  cursor: pointer;
  height: 29px;
  border-radius: 15px;
  border: none;
  margin: 4px 0px 4px 0px;
  width: 100%;
  background-color: rgb(249, 225, 11);
}

.addToCartButton:hover {
  background-color: rgb(238, 203, 3);
}

.whyDoesThisULNeedASeparateClassCSSIsAnnoyingSometimes {
  font-size: 14px;
  padding-left: 0;
  list-style-position: inside;
}

.addToRegistry,
.addToListButton {
  box-shadow: 0px 0px 5px rgb(208, 208, 208);
  border: 1px solid rgb(154, 153, 153);
  border-radius: 3px;
  text-align: left;
  margin: 4px 0px 4px 0px;
  width: 100%;
  cursor: pointer;
  height: 31px;
}

.addToRegistry:hover {
  background-color: #e1e0e0;
}

.addToRegistry:click {
  box-shadow: 0px 0px 6px rgb(0, 179, 255);
}

.MainItemDividerColor {
  background-color: rgb(215, 215, 215);
  height: 1px;
  border: 0;
}

.quantityButton,
.addToRegistry {
  border: 1px solid rgb(182, 181, 181);
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgb(181, 180, 180);
}

.quantityButton {
  font-size: 11px;
  margin: 15px 0px 10px 0px;
  height: 20px;
}

.buyNowButton {
  background-color: orange;
}

.buyNowButton:hover {
  background-color: darkorange;
}

.chooseLanguage {
  font-family: AmazonEmberBold;
  width: 5%;
  margin-top: 12px;
  position: relative;
}

.flagForLanguage {
  position: relative;
  width: 18px;
  height: 11px;
  margin-right: 2px;
}

.triangleDown {
  margin-left: 3px;
}

.mainSubCatItem {
  font-family: AmazonEmberBold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #c4c3c3;
}

.calculatedStars {
  vertical-align: top;
}

.starHolder {
  height: min-content;
}

.customerReviewDiv {
  margin: 0;
  height: 292px;
  width: 300px;
}

.barText {
  color: #0089a1;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px !important;
  line-height: 20px !important;
  white-space: nowrap;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
  margin: 7px;
}

.starHolder {
  color: #0f1111 !important;
  text-rendering: optimizeLegibility;
  font-size: 18px !important;
  line-height: 24px !important;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: Arial, sans-serif;
  margin-left: 1px;
}

.MainInfoGrid {
  border-spacing: 50px 10px;
  margin-left: -50px;
}

.MainInfoGridInfo {
  font-family: AmazonEmberBold;
}

.globalRatings {
  margin-left: 7px;
  font-size: 14px;
  font-family: AmazonEmber;
  color: #565959 !important;
}

.reviewsLeft {
  display: inline-block;
  margin-right: 20px;
  width: 300px;
  height: 1010px;
  justify-content: center;
}

.reviewHeadline {
  margin-bottom: 8px !important;
  font-weight: 700;
  font-size: 18px;
}

.thoughts {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.reviewThisMain {
  margin-left: 5px;
}

.helpfulButton,
.writeReview {
  background-color: #fff;
  border-color: #d5d9d9;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  height: 29px;
  cursor: pointer;
}

.writeReview {
  width: 300px;
}

.helpfulButton {
  width: 100px;
}

.soldByDiv,
.shipsByDiv {
  font-size: 12px;
  display: flex;
  margin-top: 10px;
}

.soldByDiv {
  margin: 5px 0px 15px 0px;
}

.shipsByContent {
  width: 50%;
}

.shipsByContent {
  width: 50%;
}

.partition {
  margin-bottom: 24px !important;
  margin-bottom: 24px !important;
  border-top: 1px solid #e7e7e7;
  display: block;
  height: 1px;
}

.searchwrapper * {
  margin: 0;
  padding: 0;
}

.questions-wrapper {
  margin-bottom: 20px;
  /* padding-left: 10px; */
  position: relative;
  /* border-left: 1px solid #000; */
  /* border-right: 10px solid #000; */
  margin-left: 20px;
  padding-top: 10px;
}

.questions-wrapper::before{
content: "";
position: absolute;

background-color: #DDDDDD;
width: 2px;
height: 72px;
top: 10px;
}


.question-answer {
  display: flex;
  /* align-items: center; */
  margin-bottom: 10px;
  margin-left: 10px;
}

.searchwrapper h2 {
  color: #0F1111;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.question-answer p {
  color: #007185;
  font-size: 14px;


}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.question-answer h3 {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 700;
  min-width: 70px;
}

form {
  position: relative;
}

.searchButton {
  background-color: transparent;
  border: none;
  /* width: 100%; */
  position: absolute;
  top: 10px;
  font-size: 22px;
  left: 5px;
}

.searchwrapper {
  max-width: 800px;
}

.searchinput {
  width: 100%;
  display: block;
  background-color: #fff;
  height: 31px;
  padding: 3px 7px 3px 40px;
  line-height: normal;
  margin-bottom: 20px;
}

.goaheadanswertexthestypingijustsaidyou p {
  color: #000;
}

.reviewText {
  margin: 0px;
}

.reviewsRight {
  display: inline-block;
}

.mainReviewDiv {
  display: flex;
}

.userReviewDisplay {
  margin-left: 65px;
}

.topReviewsDiv {
  margin-top: 24px;
  margin-bottom: 16px;
}

.topReviews {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

.userImageWrapper {
  padding-right: 9px;
  width: 30px;
}

.userImage {
  border-radius: 34px;
  border: 2px solid #fff;
  width: 100%;
  vertical-align: top;
  max-width: 100%;
  box-sizing: border-box;
}

.userName {
  min-height: 34px;
  display: border-box;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
  color: #0f1111;
}

.userStars {
  height: 18px;
  width: 80px;
}

.reviewTitle {
  margin-left: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  word-wrap: break-word;
}

.dateReviewed {
  margin: 0px;
  color: #565959 !important;
  font-size: 14px !important;
  line-height: 20px;
  box-sizing: border-box;
}

.reviewContent {
  box-sizing: border-box;
}

.xmarksthespot {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: -40px;
  font-size: 22px;
}

.votes svg {
  font-size: 35px;
}

.votescontainer {
  display: flex;
}

.votes * {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  display: block;
}

.votes p {
  position: relative;
  top: -10px;
  text-align: center;
}

.arrowdown svg {
  position: relative;
  top: -18px;
  /* font-size: 14px; */
  line-height: 20px;
  word-wrap: break-word;
  color: #0F1111;
}

.contentWrapper {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: block;
}

.textSeperator {
  display: inline-block;
  width: 1px;
  background-color: #ddd;
  height: 14px;
  vertical-align: middle;
}

.reportAbuse {
  color: #565959;
  margin-top: 4px;
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
}

/* element.style {
  background-color: rgb(180, 180, 180);
  height: 1px;
  border: 0px;
} */

element.style {
  background-color: rgb(180, 180, 180);
  height: 1px;
  border: 0px;
}
* {
  font-family: AmazonEmber;
}
user agent stylesheet
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}