body {
  outline: 1px solid black;
  margin: auto;
}

img{
}

.navbarSubCategories,
.navbarCategories,
.navbarSearch{
  outline: 1px solid black;
  display: flex;
  width: 100%;
  color: white;
}

.navbarSearch{
  height: 60px;
  background-color: #131921;
}

.navbarSearchBar{
  height: 40px;
  width: 100%;
}

.addressDiv{
  width:10%;
  text-align:center;
  margin: auto;
}
.navbarSearchBarDiv{
  width: 40%;
}

.navbarCategories{
  height: 39px;
  background-color: #232f3e
}

.navbarSubCategories{
  height: 33px;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,.1);
  color: black;
}
.navbarCategoryItem,
.navbarSubCategoryItem{
  outline: 1px solid black;
  text-align:center;
  margin: auto;
  font-size: 14;
}

.mainItemDiv{
  display:flex;
  width: 100%;
  justify-content: center;
  outline: 1px solid black;

}

.addToCart,
.itemInfo,
.photoGallery{
  outline: 1px solid black;
}

.photoGallery{
  width: 40%;
  display:flex;
}

.galleryThumbnailContainer{
  width:15%;
  height: 100%;
}

.galleryThumbnail{
  width: 4vw;
  height: 4vw;
  outline: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.thumbnailImage{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.mainPhotoContainer{
  width: 440px;
  outline: solid 1px black;
}

.mainPhoto{
  width: 440px;
  height: 100%;
  object-fit: contain;
  outline: solid 2px red;
}

.zoomedContainer{
  max-height: 55vh;
  overflow: hidden;
}
.zoomedPhoto{
  position: relative;
}

.itemInfo{
  width: 35%;
  overflow: hidden;
}

.addToCart{
  width: 10%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #c4c3c3;
}
